<header class="top-nav">
  <button routerLink="/main-menu" class="logo">
    <img src="/src/assets/logo.png" alt="Logo" class="logo">
  </button>
  <nav class="main-menu">
    <ul>
      <li><button href="#" (click)="goToHome()">Main Menu</button></li>
      <li><button href="#" (click)="goToUser()">Profile</button></li>
      <li><button href="#" (click)="logout()">Logout</button></li>
    </ul>
  </nav>
</header>

<div class="container">
  <div class="user-details">
    <div class="user-info">
      <h2>User Details</h2>
      <div class="user">
        <div class="user-details">
          <h3>{{ user.username }}</h3>
        </div>
      </div>
    </div>

    <div class="user-questions">
      <h2>Question Asked by {{ user.username }}</h2>
      <div class="question">
        <h3>{{ user.question.title }}</h3>
        <p>{{ user.question.body }}</p>
        <p><strong>Author:</strong> {{ user.question.author }}</p>
        <p><strong>Creation Time:</strong> {{ user.question.creationTime }}</p>
        <p><strong>Creation Date:</strong> {{ user.question.creationDate }}</p>
      </div>
    </div>
  </div>
</div>
