.top-nav {
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  flex: 0 0 auto;
}

.logo img {
  height: 2rem;
}

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-menu li {
  margin-right: 1.5rem;
}

.main-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.main-menu a:hover {
  color: #fff;
  text-decoration: underline;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
}

.user-details {
  background-color: white;
  position: relative;
  z-index: 1;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  padding: 2rem;

  .user-info h2 {
    margin-top: 0;
  }

  .question h3 {
    margin-top: 0;
  }

  .question p {
    margin-bottom: 1rem;
  }

  .question p:last-child {
    margin-bottom: 0;
  }
}
