.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  background-color: #f2f2f2;
  padding: 1.25rem; /* 20px equivalent */
  border-radius: 0.5rem; /* 8px equivalent */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 18.75rem; /* 300px equivalent */

  .logo{
    display: block;
    width: 10rem; /* 80px equivalent */
    /* 20px equivalent */
    margin: 0 auto 1.1rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 1.25rem; /* 20px equivalent */
  }

  form {
    .form-group {
      margin-bottom: 0.9375rem; /* 15px equivalent */

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.3125rem; /* 5px equivalent */
      }

      input {
        width: 100%;
        padding: 0.625rem; /* 10px equivalent */
        border: 0.0625rem solid #ccc; /* 1px equivalent */
        border-radius: 0.25rem; /* 4px equivalent */
        box-sizing: border-box;
      }
    }

    button {
      width: 100%;
      padding: 0.625rem; /* 10px equivalent */
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 0.25rem; /* 4px equivalent */
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
