<header class="top-nav">
  <button routerLink="/main-menu" class="logo">
    <img src="./assets/logo.png" alt="Logo" class="logo">
  </button>
  <nav class="main-menu">
    <ul>
      <li></li>
      <li><button (click)="goToHome()">Main Menu</button></li>
      <li><button (click)="goToUser()">Profile</button></li>
      <li><button (click)="logout()">Logout</button></li>
    </ul>
  </nav>
</header>

<!-- edit-question.component.html -->
<div class="create-question-container">
  <h2>Update Answer</h2>
  <div class="form-group">
    <label>Text</label>
    <textarea class="form-control" rows="5" [(ngModel)]="text" name="text"></textarea>
  </div>
  <div class="form-group">
    <label>Current Picture</label>
    <div *ngIf="imageUrl">
      <img [src]="imageUrl" alt="Question Image" class="img-fluid">
    </div>
  </div>
  <div class="form-group">
    <label>New Picture</label>
    <input type="file" class="form-control-file" (change)="onFileSelected($event)">
  </div>
  <button type="button" class="btn btn-primary" (click)="updateAnswer()">Update</button>
</div>
